{% extends 'base.html.twig' %}

{% block title %}Interface administrateur{% endblock %}

{% block h1 %}<h1>Interface administrateur</h1>{% endblock %}


{% block body %}

<div class="breadcrumb">
    <div class="container">
            <img src="{{asset('assets/img/home.svg')}}" alt="retour à l'accueil" class="icon">
            Panneau d'administration
    </div>
</div>

<main class="main-content container">
        <div class="card">
            <h2>Accès aux promotions</h2>
            <a href="{{ path("admin_list_promotions") }}" class="promotion-btn">Accéder</a>
        </div>
        <div class="card">
            <h2>Accès aux étudiants</h2>
            <a href="{{ path("admin_list_students") }}" class="promotion-btn">Accéder</a>
        </div>
</main>
{% endblock %}
