body {
    font-family: Roboto;
    color: #fff;
    text-align: center;
    color: #666666
}

h1,
h2{
    padding: 1rem;
}

@media(max-width: 600px)
{
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    .main-content{
        grid-template-columns: 1fr!important;
        row-gap: 0!important;
    }

    .profile-content{
        grid-template-columns: 1fr!important;
    }


    .main-footer{
        font-size: 1.2rem!important;
        flex-direction: column;
    }

    .footer-links{
        margin-left: 0.5rem!important;
        border-right: 0!important;
    }

    .courses-list{
        border-right: 0!important;
    }
}


a{
    text-decoration: none;
}

a:link{
    color: #fff;
}

a:hover{
    text-decoration: underline;
}

a:visited {
    color: #fff;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}


/* card component*/

.home-card{
    max-width: 24rem;
    margin: auto;
}

.card {
    font-size: 1.2rem;
    position: relative;
    background-color: #fff;
    padding: 0.8em;
    box-shadow: 0.2em 0.2em .5em 0px #9a9292;
    border-radius: 0.3em;
    margin-bottom: 2rem;
}

.card > h2, .card > h2 > a{
    color: #fd7e37;
}


.button {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 70%;
    max-height: 6rem;
    text-align: center;
    font-weight: 700;
    color: #fff;
    background-color: #fd7e37;
    padding: 0.5em 1em;
    border-radius: 1.5em;
    text-decoration: none;
    opacity: 0;
}

.button > span {
    margin: auto;
}

.card:hover > .button{
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.card:hover > img{
    filter: blur(1px);
    transition: blur 0.5s ease-out;
}

/* overiding blur animation on profile page */
.card-profile:hover > img {
    filter: blur(0px);
}

.card-profile > img {
    margin: auto;
    width: 100%;
}

/*header*/
.main-header {
    background-color: #fd7e37;
    color: #fff;
    padding: 1em;
    margin-bottom: 3em;
}

/*filter bar*/

.top-filter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.filtre > img{
    width: 2rem;
}

/*content*/
.main-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    column-gap: 1em;
    row-gap: 2em;
    margin-bottom: 3em;
}

.promotion-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2em;
}

.promotion-card{
    display: flex;
    padding: 0.8em;
    box-shadow: 0.2em 0.2em .5em 0px #9a9292;
    border-radius: 0.3em;
}

.profile-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 2fr));
    grid-gap: 3rem;
    margin-bottom: 3em;
}

.infos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.breadcrumb{
    text-align: left;
    margin-top: -3em;
    margin-bottom: 1em;
    padding: 1em 0;
    background-color: rgb(255, 243, 225);
}

.breadcrumb > .container > a{
    color: grey;
}

.background,
.entreprise,
.missions,
.portrait{
    padding-top: 0;
}

.background > p{
    font-style: italic;
}

.portrait {
    color: #666666;
    margin-bottom: 3rem;
}


.portrait-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.portrait-list:nth-child(2n) {
    background-color:  #fd7e37;
    color: #fff;
}

.portrait-list-label {
    font-weight: 700;
}

.slack-dm{
    margin-top: -3em;
}

a.slack-link{
    color: #666666;
    font-weight: 700;
}

a.slack-link:visited{
    color: #666666;
}

/* footer */
footer {
    padding: 1em;
    background-color: #fd7e37;
    color: #fff;
}

.main-footer{
    display: flex;
    justify-content: flex-start;
    font-size: 1.6rem;
    text-align: left;
}

.foooter-container {
    max-width: 1200px;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.footer-links {
    border-right: 1px solid #fff;
    padding: 0 1.5em;
}

.footer-links > h2 {
    padding-top : 0;
}


.link-list-items {
    margin-bottom: 0.5em;
}

.link-list-items > a {
    margin-left: 0.5em;
}

.icon{
    display: inline;
    max-width: 1em;
}