{% extends 'base.html.twig' %}

{% block title %}Trombinoscope du CEFIM{% endblock %}

{% block body %}

<div>
    <ul>
        {% for promotion in promotions %}
        <li><a href="{{ path("students_list", {'promotion': promotion.id}) }}">{{promotion.nom}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
